
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-enter {
  opacity: 0.01;
  transform: translateY(-50px);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 300ms ease-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: translateY(50px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
